.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
}
.tinder_logo{
    height: 50px;
    /* width: 100px; */
    object-fit: contain;
}
.header_icon{
    padding: 20px;
}